@import '@assets/scss/variables';
.listContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 20%;
  margin: 0 0 1rem 0;

  &__title {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: $textsecondary-color;
    margin: 1rem 0;
  }

  &__desc {
    width: 90%;
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 1rem 0;
  }
}
